In [6]:
import pandas as pd

df_raw = pd.read_csv("/kaggle/input/datasets/eylanalqazlan/day15-largest-dataset/day15_real_dataset_large.csv")
df_raw.head(10)

print(df_raw.info()) 
df_raw.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          78 non-null     object
 1   income       77 non-null     float64
 2   city         96 non-null     object
 3   signup_time  97 non-null     object
dtypes: float64(1), object(3)
memory usage: 3.2+ KB
None

              income
count      77.000000
mean    77077.922078
std     18780.425303
min     45000.000000
25%     62000.000000
50%     75000.000000
75%     91000.000000
max    120000.000000